@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;500&display=swap');

@page {
  size: A4 portrait;
  margin: 1.8cm;
}

html {
  @media screen {
    font-size: 18px;
  }
  @media print {
    font-size: 8pt;
  }

  print-color-adjust: exact; /* print background color */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
